.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('/error.png');
    background-repeat: no-repeat;
    background-position: center;
    min-height: 145px;
}

.title {
    font-weight: 800;
    font-size: 16px;
    line-height: 23px;
}

.description {
    font-weight: 200;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .description {
        font-size: 12px;
    }
}
