.layout {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 960px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (max-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        max-width: 480px;
    }
}

@media screen and (max-width: 320px) {
    .container {
        max-width: 320px;
    }
}
